<nav data-aos="fade-down">
  <div class="logo">
    <img src="https://www.adra.org.pe/sites/default/files/ADRA%20Horizontal%20Logo_1.png" alt="adra">
  </div>
  <div class="ingreso">
    <button (click)="logIn()">Ingresar</button>
  </div>
</nav>

<div class="first">
  <!--que es adra?-->
  <div class="lema" data-aos="zoom-in">
    <h1>Justicia, Compación y Amor</h1>
    <p>ADRA es una de las principales organizaciones no gubernamentales de ayuda en el mundo, presente en más de 130
      países. En el Perú, ADRA opera desde 1965, llevando alivio al necesitado, promoviendo su desarrollo integral y
      brindando ayuda humanitaria en caso de desastres.</p>
    <button class="btn btn-danger" (click)="logIn()"> <span>Iniciar Sesión</span></button>
  </div>
  <img src="https://i.ibb.co/f1rRd4W/asistente-adra.png" alt="asistente-adra" data-aos="zoom-in">
</div>

<!-- banners adra -->
<ul class="slides" data-aos="fade-up">
  <input type="radio" name="radio-btn" id="img-1" checked />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/SLIDER-WEB_0.jpg" />
    </div>
    <div class="nav">
      <label for="img-6" class="prev">&#x2039;</label>
      <label for="img-2" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-2" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/PORTADA%20PMF%20FB.jpg" />
    </div>
    <div class="nav">
      <label for="img-1" class="prev">&#x2039;</label>
      <label for="img-3" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-3" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/PORTADA%20GPS%20FB.jpg" />
    </div>
    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-4" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/PORTADA%20CHUQUICAHUANA%20FB.jpg" />
    </div>
    <div class="nav">
      <label for="img-3" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-5" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/PORTADA%20COLECTA%20FB.jpg" />
    </div>
    <div class="nav">
      <label for="img-4" class="prev">&#x2039;</label>
      <label for="img-6" class="next">&#x203a;</label>
    </div>
  </li>

  <input type="radio" name="radio-btn" id="img-6" />
  <li class="slide-container">
    <div class="slide">
      <img src="https://www.adra.org.pe/sites/default/files/PORTADA_PRINCIPAL_0.jpg" />
    </div>
    <div class="nav">
      <label for="img-5" class="prev">&#x2039;</label>
      <label for="img-1" class="next">&#x203a;</label>
    </div>
  </li>

  <li class="nav-dots">
    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
  </li>
</ul>


<div class="info">
  <div class="manual" data-aos="fade-up">
    <div class="contenido-manual">
      <div class="cabecera-manu">
        <img src="https://i.ibb.co/XXr7bkR/manual.png" alt="">
        <h4>Manual de usuario</h4>
      </div>
      <div class="botones">
        <button (click)="openPop(1)">Capacitaciones</button>
        <button (click)="openPop(2)">Desarrollo Espiritual</button>
        <button (click)="openPop(3)">Webinar</button>
      </div>
    </div>
  </div>
  <div class="foot-info">
    <div class="content-foot">
      <div class="logo-foot" data-aos="fade-up">
        <img src="https://i.ibb.co/B2sNwNn/logo-foot.png" alt="">
      </div>
      <div class="information-links">
        <div class="links" data-aos="fade-up">
          <h4>Información</h4>
          <a href="https://www.adra.org.pe/pmf">
            <span>Microfinanzas</span>
          </a><a href="https://www.adra.org.pe/proyectos">
            <span>Proyectos</span>
          </a><a href="https://www.adra.org.pe/chuquicahuanacamp">
            <span>Chuquicahuana camp</span>
          </a><a href="https://www.adra.org.pe/voluntariado">
            <span>Voluntariado</span>
          </a><a href="https://ayudarhacebien.pe">
            <span>Colecta</span>
          </a>
        </div>
        <button (click)="donar()" data-aos="fade-up">Donar</button>
        <div class="redes" data-aos="fade-up">
          <a href="https://www.facebook.com/adraperu/">
            <i class="fab fa-facebook-f"></i>
          </a><a href="https://www.youtube.com/user/Adra1965">
            <i class="fab fa-youtube"></i>
          </a><a href="https://twitter.com/adraperu">
            <i class="fab fa-twitter"></i>
          </a><a href="https://www.instagram.com/adra_peru/">
            <i class="fab fa-instagram"></i>
          </a><a href="https://www.linkedin.com/company/adra-perú/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="more-info">
        <div class="acercaDe" data-aos="fade-up">
          <h4>Acerca de:</h4>
          <div class="bod-acrde">
            <span>¿Qué es ADRA?</span>
            <a href="https://www.adra.org.pe/adra/politica-privacidad-proteccion-datos"> <span>Politica de privacidad</span> </a>
          </div>
        </div>
        <div class="contacto" data-aos="fade-up">
          <h4>Contacto</h4>
          <span>Atencion al cliente : <b>(01) 712-7777</b> </span>
        </div>
      </div>
    </div>
    <div class="copyright">
      <span>Copyright <i class="far fa-copyright"></i> 2021. Todos los derechos reservados.</span>
      <span>Designed By <a href="https://omarguerrer.github.io/profile-website/">Me</a> </span>
    </div>
  </div>
</div>