<nav data-aos="fade-down">
    <div class="menu-log">
        <img src="https://i.ibb.co/GCy2H67/icons8-menu-24px.png" alt="" class="hamb">
        <img src="https://www.adra.org.pe/sites/default/files/ADRA%20Horizontal%20Logo_1.png" alt="" class="ad">
    </div>
    <div class="usuario">
        <h5>Margaret Hamilton</h5>
        <div>
            <img src="https://i.ibb.co/g3m02PC/perfil-woman.png" alt="p">
            <img src="https://i.ibb.co/WsQP4Yw/exit.png" alt="exit">
        </div>
    </div>
</nav>

<div class="body">
    <div class="capacitaciones">
        <div class="asincronico">
            <div class="cabecera" data-aos="zoom-in">
                <img src="https://i.ibb.co/Wzd9VgK/icons8-conference-24px.png" alt="">
                <h5>Capacitación Actual</h5>
            </div>
            <div class="curso" data-aos="zoom-in">
                <img src="https://1.bp.blogspot.com/-B2x__EhJ_R0/Xqe9ltGf6YI/AAAAAAAAlJo/SNKkr-nE5t4b7BTMOcjssACMgAXepc-IgCLcBGAsYHQ/s1600/Paradigma%2Btrabajo%2Bsocial.jpg"
                    alt="">
                <div class="info-curso">
                    <h4>Sesion 2</h4>
                    <h3>Bootcamp Digital</h3>
                </div>
            </div>
        </div>
        <div class="sincronico">
            <div class="cabecera" data-aos="zoom-in">
                <img src="https://i.ibb.co/3kftCYr/icons8-video-conference-32px.png" alt="">
                <h5>Webinar en vivo</h5>
            </div>
            <div class="curso" data-aos="zoom-in">
                <img src="https://image.freepik.com/vector-gratis/seminario-web-aprendizaje-electronico-pagina-inicio-plana_1284-25221.jpg"
                    alt="">
                <div class="info-curso">
                    <h4>Sesion unica</h4>
                    <h3>Ventas en redes</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="content-detail">
        <div class="reflexion">
            <div class="body-reflexion" data-aos="fade-left">
                <div class="card">
                    <div class="card-body">
                        <h5> <b>Reflexión diaria</b> </h5>
                        <p>This is some text within a card body. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Officia debitis ratione ipsa libero ex! Modi necessitatibus accusamus commodi magni
                            inventore! <b>Josue 1:9</b></p>
                        <div class="foor-see-dm">
                            <a href=""><span>devocion matutina</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avatar" data-aos="fade-up">
                <img src="https://i.ibb.co/wgKhQsP/avtar-man.png" alt="">
            </div>
        </div>
        <div class="card-activity" data-aos="fade-up">

            <div class="card">
                <div class="card-body">
                    <img src="https://i.ibb.co/WBnx6dJ/capacitacion.png" alt="">
                    <h3>Capacitaciones</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="https://i.ibb.co/9c2qwQY/asesoria.png" alt="">
                    <h3>Asesoria</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="https://i.ibb.co/rFn7KNn/social.png" alt="">
                    <h3>Social</h3>
                </div>
            </div>

        </div>
        <div class="pedidos">
            <h5 data-aos="fade-right">Pedidos de oración</h5>
            <hr color="gray">
            <div class="content-pedido" data-aos="zoom-in">
                <div class="form-floating cont-area">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" maxlength="245"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Pedido de oración . . . </label>
                </div>
                <button><img src="https://i.ibb.co/8zZRfFm/manitas-white.png" alt=""></button>
            </div>
        </div>
    </div>
</div>