<nav data-aos="fade-down">
    <div class="menu-log">
        <img src="https://www.adra.org.pe/sites/default/files/ADRA%20Horizontal%20Logo_1.png" alt="" class="ad">
    </div>
    <div class="usuario">
        <h5>Margaret Hamilton</h5>
        <div>
            <img src="https://i.ibb.co/WsQP4Yw/exit.png" alt="exit" (click)="cerrarSesion()">
        </div>
    </div>
</nav>

<div class="body">
    <div class="roles">
        <div class="card">
            <div class="card-body" id="socia-card">
                <img src="https://i.ibb.co/dLXLy0M/Portal-rol.png" alt="">
                <h3>Socia</h3>
            </div>
        </div>
        <div class="card" id="asesor-card">
            <div class="card-body">
                <img src="https://i.ibb.co/TRWtcs9/user-badge-solid-72.png" alt="">
                <h3>Asesor</h3>
            </div>
        </div>
        <div class="card" id="admin-card">
            <div class="card-body">
                <img src="https://i.ibb.co/2hKrXtL/user-solid-72.png" alt="">
                <h3>Administrador</h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="https://i.ibb.co/80RC9zN/help-circle-regular-72.png" alt="">
                <h3>Ayuda</h3>
            </div>
        </div>
    </div>
    <div class="banner">
        <span></span>
    </div>
    <span></span>
</div>
