.body{
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.title{
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.title>h2{
    padding: 0;
    margin: 0;
}
.title > button{
    margin-left: 5px;
    color: white;
    border: none;
    height: 1.5rem;
    background-color: #009475;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.title > button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .3s ease-in;
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
}
.body>.tablas{
    padding-left: 3%;
    padding-right: 3%;
}
.tablas>table{
    max-height: 30rem;
    background-color: #eee;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.tablas>table>thead{
    background-color: #009475;
    color: white;
}
.tablas>table>tbody td{
    border-left: 1px #ddd solid;
}