<form [formGroup]="capacitacion">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">id</label>
        <input type="number" class="form-control" id="nombre" formControlName="id">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre capacitacion</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
        <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Portada</label>
        <input type="url" class="form-control" id="portada" placeholder="https://example.com" formControlName="portada">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fe_init" placeholder="11/11/21" formControlName="fecha">
    </div>
    <div class="mb-3 form-group">
        <label for="exampleFormControlInput1" class="form-label">Fecha de culminacion</label>
        <input type="date" class="form-control" id="fe_fin" placeholder="11/11/21" formControlName="fechaFin">
    </div>
   <div class="btns">
    <button class="btn btn-danger" (click)="guardar(capacitacion.value)">Guardar</button>
    <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
   </div>
</form>