<nav data-aos="fade-down">
    <div class="menu-log">
        <img src="https://i.ibb.co/GCy2H67/icons8-menu-24px.png" alt="" class="hamb" (click)="menuActive()">
    </div>
    <div class="logo">
        <a href="/portal-administrador"><img src="https://www.adra.org.pe/sites/default/files/ADRA%20Horizontal%20Logo_1.png" alt="" class="ad"></a>
    </div>
    <div class="usuario">
        <h5>{{persona.nombrePersona}} {{persona.apaternoPersona}}</h5>
        <div>
            <img src="https://i.ibb.co/wgKhQsP/avtar-man.png" alt="p" class="avatar">
            <img src="https://i.ibb.co/WsQP4Yw/exit.png" alt="exit" (click)="cerrarSesion()" style="cursor: pointer;" class="exit">
        </div>
    </div>
</nav>


<div class="menu" #menu>
    <div class="back" (click)="menuClose()"><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALdJREFUSEvtlMENwjAQBGc7oBMoAUqgElogHdEBlEA6oYMgS0GyjJNbgvNLno41c7f2Waz8aWU+myBM2I5oGIYdcJHUhdRsgyUY4XfgAHSSrq4kFBTwHjhKejUR/AtPRUx20AI+KWgFrwoKuBs1kqppfC2Oggewt+kpa1eQoIXkCZx+uTl5YdEhfzpZLJmdgxaduIO2uJNQUDmTs6SbewEsQSZJz4QNn51kt8Jon91BBJr6vwnC5N7IPEoZlO97kgAAAABJRU5ErkJggg==" />
    </div>
    <div class="links">
        <a href="dashboard" class="link-menu">Home</a>
        <a href="portal-administrador" class="link-menu">Portal Administrador</a>
        <a href="" class="link-menu">Gestión de Usuarios</a>    
        <a href="" class="link-menu">Gestión de Banquitos</a>
    </div>
</div>