<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre de capacitacion</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">No dejar campos vacios</div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 100px" value="default descripcion"></textarea>
        <label for="floatingTextarea2">Descripcion</label>
    </div>
    <div class="mb-0 mt-3">
        <label for="dateFechafin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="dateFechafin" >
    </div>
    <div class="mb-0 mt-3">
        <label for="portada" class="form-label">Portada</label>
        <input type="url" class="form-control" id="portada" placeholder="https://img.view1283.png" >
    </div>

    <img src="" alt="">

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>