<div class="bg-adra">
    <img src="https://i.ibb.co/WHW70rY/bg-login.png" alt="background" data-aos="fade-right">
</div>
<div class="body">
    <form class="form-login p-5">
        <img src="https://i.ibb.co/ynwKJ2x/logo-horizontal-default.png" alt="" data-aos="zoom-in">
        <div class="w-100">
            <h4>
                <p class="text-center fw-bold mx-3 mb-0">Inicia Sesión</p>
            </h4>
        </div>
        <div class="inputs">
            <input type="text" class="form-control form-control-lg" placeholder="DNI" data-aos="fade-up" required>
            <input type="password" class="form-control form-control-lg" placeholder="Contraseña" data-aos="fade-up" required>
            <button type="button" class="btn btn-success btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" data-aos="zoom-in-up">Ingresar</button>
        </div>
    </form>
</div>


<footer class="fixed-bottom bg-success py-3 text-light p-3 d-flex justify-content-between">
    <span>Copyright <i class="far fa-copyright"></i> 2021. Todos los derechos reservados.</span>
    <span>Designed By <a href="https://omarguerrer.github.io/profile-website/"
            class="text-decoration-none text-light">Me</a> </span>
</footer>