.bg-adra{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.bg-adra>img{
  object-fit: cover;
  height: 100%;
}
.form-login{
  float: right;
}
.body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-login{
  width: 30%;
  height: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-login>img {
  height: 50px;
  object-fit: contain;
  margin-bottom: 8%;
  margin-top: 2%;
}
.form-login>.inputs>input{
  margin-top: 3%;
  margin-bottom: 3%;
}

@media screen and (max-width:1600px) {
    .form-login{
      width: 40%;
    }
}
@media screen and (max-width:1200px){
  .form-login{
    width: 45%;
  }
}
@media screen and (max-width:1000px){
  .form-login{
    width: 50%;
  }
}
@media screen and (max-width:960px){
  .body{
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .form-login{
    width: 55%;
  }
}
@media screen and (max-width:760px){
  .form-login{
    width: 75%;
  }
}
@media screen and (max-width:560px){
  .form-login{
    width: 100%;
  }
  .form-login>img{
    height: 40px;
  }
  footer>span{
    font-size: 2vw;
  }
}