<app-nav-bar></app-nav-bar>
<div class="body">
    <div class="content">
        <div class="title-sesion" data-aos="zoom-in">
            <h2>1. uso de las redes sociales par el impulso de ventas</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100">
                </div>
            </div>
            <div class="foot-title-sesion">
                <span>12/10/21 </span> - <span> 12/12/21</span>
            </div>
        </div>
        <ul class="recursos" data-aos="zoom-in">
            <li class="recurso">
                <a href="">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASRJREFUSEvtlcFRhEAQRX9PApKBZqAZuEawZuBUw10z0BDWOwyYgUagZqAZGIIGwLTVK7MlrkIXLrelihO//6N/0wNh5otm9sceMJpwL6KiKBYxxksRyZxzmYicjDoAEJEn1RHRW4zxtmmal1S3AXTmjxbDMY1z7qwsyy9oEud5fi8iy7Fiy3Mieqiq6rwHYGYlnloMDJrnEMLiJ0CGCrXtGGMD4NAAQAhhnc4mImYeBKQCZr4BcAXgYAg0GaCm3vuMiFZEdPEX5N8A59x118mvjMkAZtZ41DzbaUTdkGsAR4Yhf4QQ1i/wfci6fceGYotk+zPd5aKJyF1d177XwexHhdIU0ratJ6KUs3WzXwG8E5Heq3QO9TqwBDtFs/+jjaY2e0SfCKl/GR1E8/EAAAAASUVORK5CYII=" />
                    <h3>Canto Inicial</h3>
                </a>
            </li>
            <li class="recurso">
                <a href="">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASRJREFUSEvtlcFRhEAQRX9PApKBZqAZuEawZuBUw10z0BDWOwyYgUagZqAZGIIGwLTVK7MlrkIXLrelihO//6N/0wNh5otm9sceMJpwL6KiKBYxxksRyZxzmYicjDoAEJEn1RHRW4zxtmmal1S3AXTmjxbDMY1z7qwsyy9oEud5fi8iy7Fiy3Mieqiq6rwHYGYlnloMDJrnEMLiJ0CGCrXtGGMD4NAAQAhhnc4mImYeBKQCZr4BcAXgYAg0GaCm3vuMiFZEdPEX5N8A59x118mvjMkAZtZ41DzbaUTdkGsAR4Yhf4QQ1i/wfci6fceGYotk+zPd5aKJyF1d177XwexHhdIU0ratJ6KUs3WzXwG8E5Heq3QO9TqwBDtFs/+jjaY2e0SfCKl/GR1E8/EAAAAASUVORK5CYII=" />
                    <h3>Devocion Matutina</h3>
                </a>
            </li>
            <li class="recurso">
                <a href="">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARhJREFUSEvtlu1twjAQhu8u2YMRSCdoN6AjuM4CiAUIg8QwAt0gK7ABXeS96qREohBhO1EkfjSSlR+x3+c+fHdhWvjhhfXpAVDX9ScR7VW1isBPIYSvmIEPAO/9lYhWsYP99yhkDKAJ4mb5MQUyCRBCYO+9S4FMBpj1KZBZgBTIbMA9xMJ3m8NJgGeX4B8QLZHXCpFZ45yrRMT6EwE4A0BRFDtmvgI4MfOKmbvBtSwP+ortRKQB8EFEttYA3kTEKtn6lr3f5wAaZt6o6ncPqACYV05EOgAm3swBDM3vMISoLMsDEV160f1t5rNCFL0yIxteApAzcO59uIQQ/kzC0ZGpqpa0dWaIfph527bt+WmzyxSNbl/8r+IXDQ2sGbAW0AYAAAAASUVORK5CYII=" />
                    <h3>Ventas en redes</h3>
                </a>
            </li>
        </ul>
        <div class="valoracion" data-aos="zoom-in">
            <h3>valoracion de capacitacion</h3>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
        </div>
    </div>
    <div class="load-sesion">
        <div class="cabecera" data-aos="zoom-in">
            <div class="capaci-name">
                <h1>BOOTCAMP DIGITAL</h1>
            </div>
            <div class="sesiones">
                <div class="sesion">
                    <h3>Sesion 1</h3>
                </div>
                <div class="sesion">
                    <h3>Sesion 2</h3>
                </div>
                <div class="sesion">
                    <h3>Sesion 3</h3>
                </div>
            </div>
        </div>
        <div class="load-recurso" data-aos="zoom-in">
            <iframe src="https://www.youtube.com/embed/gzLlc53UkWI" title="load video" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="descripcion" data-aos="zoom-in">
            <img src="https://i.ibb.co/QrVg4Yt/img-desc.png" alt="image">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, vero! Culpa deleniti ducimus accusamus
                voluptatum? Ea fugiat labore, voluptate asperiores repellendus voluptatum similique animi magni.</p>
        </div>
    </div>
</div>