.body{
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.title{
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.title>h2{
    padding: 0;
    margin: 0;
}
.title > button{
    margin-left: 5px;
    color: white;
    border: none;
    height: 1.5rem;
    background-color: #009475;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.title > button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .3s ease-in;
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
}
.content-cap{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}
.card{
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: transform .3s ease-in;
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    cursor: pointer;
}
.card-body{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.card-body>img{
    width: 100px;
    object-fit: cover;
}
.titulo{
    padding-right: 5px;
    padding-left: 5px;
}
.titulo> h2,p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
}
.card-body>.titulo>p{
    color: rgb(65, 65, 65);
    cursor: pointer;
}
.card-body>.titulo>p:hover{
    color: #009475;
    transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -ms-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
}